<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h1>Checkout</h1>

{{#each cart.items}}
  <div class="card">
    {{#ifeq this.item.classType "Studio"}}
      <img class="card-img-top cover-picture" src="/uploads/studios/{{ this.item.coverPicture }}" alt="Card image cap">
    {{/ifeq}}
    {{#ifeq this.item.classType "Instrument"}}
      <img class="card-img-top cover-picture" src="/uploads/instruments/{{ this.item.coverPicture }}" alt="Card image cap">
    {{/ifeq}}
    <div class="card-body">
        <h3 class="card-text">{{ this.item.name }}</h3>
        <h5 class="card-text">{{ this.item.address }}</h5>

        {{#ifeq this.item.isRental true}}
          <h5 class="card-text">Type: Rental</h5>
          <h5 class="card-text">Rental Duration: {{ this.item.startDate }} to {{ this.item.endDate }}</h5>
          <p class="card-text">Cost: ${{ this.price }} * {{ this.daysRented }} days = ${{ this.cumulativeDaysPrice }}</p>
        {{else}}
          <h5 class="card-text">Type: Purchase</h5>
          <p class="card-text">Cost: ${{ this.price }}</p>
        {{/ifeq}}
    </div>
{{/each}}

<div id="charge-error" class="alert alert-danger hidden">

</div>

<h2>Total: ${{cart.totalPrice}}</h2>

<h2>Shipping Address</h2>
<input type="radio"> {{ user.address }}<br>

<form action="/place_order" method="post" enctype="application/x-www-form-urlencoded" id="checkout-form">
  <div class="form-group">
    <label for="name">Credit Card Number</label>
    <input id="creditCardNum" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="name">Expiration Month:</label>
    <input id="expirationMonth" class="form-control" placeholder="MM/YYYY"/>
  </div>
  <div class="form-group">
    <label for="name">Expiration Year:</label>
    <input id="expirationYear" class="form-control" placeholder="MM/YYYY"/>
  </div>
  <div class="form-group">
    <label for="name">CVV Code:</label>
    <input id="cvvCode" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="name">Cardholder's Name:</label>
    <input id="cardName" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary">Place Your Order</button>
</form>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="../checkout.js"></script>
