
{{#if studios}}
    <p class="lead">Here are your Studio Listings</p>
    <div class="card-columns">
        {{#each studios}}
            <div class="card">
                <img class="card-img-top cover-picture" src="/uploads/studios/{{ this.coverPicture }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ this.name }}</h3>
                    <h5 class="card-text">{{ this.address }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                </div>
            </div>
            <button><a href="/studio_detail/seller/{{ this._id }}">Show Details</a></button>
        {{/each}}
    </div>
{{else}}
    <p class="lead">You currently don't have any listings for studios</p>
{{/if}}


{{#if instruments}}
    <p class="lead">Here are your Instruments Listings</p>
    <div class="card-columns">
        {{#each instruments}}
            <div class="card">
                <img class="card-img-top cover-picture" src="/uploads/instruments/{{ this.coverPicture }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ this.address }}</h3>
                    <h5 class="card-text">{{ this.address }}</h5>
                    <p class="card-text">{{ this.description }}</p>
                </div>
            </div>
            <button><a href="/instrument_detail/seller/{{ this._id }}">Show Details</a></button>
        {{/each}}
    </div>
{{else}}
    <p class="lead">You currently don't have any listings for Instruments</p>
{{/if}}


<!--<!doctype html>-->

<!--<html>-->
	<!--<head>-->

		<!--<title>Title</title>-->
	<!--</head>-->

    <!--<body>-->
        <!--<div id = "content">-->
            <!--{{!-- {{#if error}}-->
                <!--<li>Error!</li>-->
            <!--{{else}}-->
                <!--<li>{{instrument.name}}</li>-->
            <!--{{/if}} --}}-->
        <!--</div>-->
    <!--</body>-->

<!--</html>-->

<!--<script src="jquery-3.3.1.min.js">-->
    <!--function getList () {-->
        <!--$.ajax({-->
            <!--method: "post",-->
            <!--url: "/current_listings",-->
            <!--success: function (err, data) {-->
                <!--const div = document.getElementById("content");-->
                <!--const list = docuemt.createElement("li");-->
                <!--list.textContent = data.name;-->
                <!--div.appendChild(list);-->
            <!--}-->
        <!--})-->
    <!--}-->

    <!--window.onload = getList;-->


<!--</script>-->
