<link rel="stylesheet" type="text/css" href="/css/instrument_detail-style.css">


<div class="background">
    <div class="image-carousel">
        {{#each instrument.pictures}}
            <img class="studio-picture" src="/uploads/instruments/{{ this }}">
        {{/each}}
    </div>
    <p> <strong>Instrument Name</strong>: {{ instrument.name }}</p>
    <p> <strong>Category</strong>: {{ instrument.category }}</p>
    <p> <strong>Weight</strong>: {{ instrument.weight }}lbs</p>
    <p> <strong>Location</strong>: {{ instrument.address }}</p>
    <p> <strong>Rental Price</strong>: ${{ instrument.rentalPrice }} per Day</p>
    <p> <strong>Purchase Price</strong>: ${{ instrument.purchasePrice }}</p>
    <p> <strong>Studio Description</strong>: {{ instrument.description }} </p>
    {{#if buyer}}
    <label for="listing-date-range">Rental Period</label>
    <div class="form">
      <form method="post" action="/add_instrument_rental/{{instrument.id}}" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <input id="listing-date-range" name="listingDateRange"><br>
        </div>
        <button type="submit" class="btn btn-primary">Rent Instrument</button>
      </form>
      <form method="post" action="/add_instrument_purchase/{{instrument.id}}" enctype="application/x-www-form-urlencoded">
        <button type="submit" class="btn btn-primary">Purchase Instrument</button>
      </form>
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
    </div>
    {{/if}}
</div>
