<link rel="stylesheet" type="text/css" href="/css/instrument_listings_buyer-style.css">
{{#if message}}
    <p>You dont have any notifications</p>
{{else}}
    {{#if studioBuyers}}
        {{#each studioBuyers}}
            <p>{{this.buyerName}} rented your studio <strong>{{this.itemName}}</strong>.</p>
        {{/each}}
    {{/if}}

    {{#if instrumentBuyers}}
        {{#each instrumentBuyers}}
            <p>{{this.buyerName}} rented your instrument <strong>{{this.itemName}}</strong>.</p>
        {{/each}}
    {{/if}}
{{/if}}