<div class="container">
    <ul>
        <li>{{firstName}} {{lastName}}</li>
        <li>Username: {{username}}</li>
        <li>Email: {{email}}</li>
        <li>Phone number: {{phoneNumber}}</li>
        <li>Member of Instrument Exchange since: {{dateRegistered}}</li>
    </ul>
</div>
