<h1>My Shopping Cart</h1>

{{#if cart.items}}
  <div class="card-columns">
      {{#each cart.items}}
        <div class="card">
            <img class="card-img-top cover-picture" src="/uploads/studios/{{ this.item.coverPicture }}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-text">{{ this.item.name }}</h3>
                <h5 class="card-text">{{ this.item.address }}</h5>
                <p class="card-text">Cost: ${{ this.price }}</p>
            </div>
        </div>
      {{/each}}
  </div>
{{else}}
  <h1>cart is empty</h1>
{{/if}}

<!-- Button should lead to checkout page -->
<a class="btn btn-primary" id="checkout" href="/checkout">Check out</a>
