<link rel="stylesheet" type="text/css" href="/css/studio_listings_buyer-style.css">

<span>Studios Found</span>
<div id="filter">
    <form id="filter-div" method="get" action="/studios/applyfilter">
        {{# if price}}
            <label for="price">Sort Price By:</label>
            <select name="sort_price" id="price" class="service">
                {{#ifEquals price "default" }}
                    <option value="default" id="default" selected>None</option>
                    <option value="asc" id="asc">Lowest To Highest</option>
                    <option value="desc" id="desc">Highest To Lowest</option>
                {{/ifEquals}}

                {{#ifEquals price "asc" }}
                    <option value="default" id="default" selected>None</option>
                    <option value="asc" id="asc" selected>Lowest To Highest</option>
                    <option value="desc" id="desc">Highest To Lowest</option>
                {{/ifEquals}}

                {{#ifEquals price "desc" }}
                    <option value="default" id="default" selected>None</option>
                    <option value="asc" id="asc">Lowest To Highest</option>
                    <option value="desc" id="desc" selected>Highest To Lowest</option>
                {{/ifEquals}}
            </select>
        {{else}}
            <label for="price">Sort Price By:</label>
            <select name="sort_price" id="price" class="service">
                <option value="default" id="default" selected>None</option>
                <option value="asc" id="asc">Lowest To Highest</option>
                <option value="desc" id="desc">Highest To Lowest</option>
            </select>
        {{/if}}
        <label for="zip-slider">Filter By Distance</label>
        {{#if sliderValue}}
            <input type="range" min="0" max="200" value="{{sliderValue}}" class="slider service" id="zip-slider" name="zip_slider">
            <input type="text" readonly id="slider-value" value="{{sliderValue}} miles">
        {{else}}
            <input type="range" min="0" max="200" value="0" class="slider service" id="zip-slider" name="zip_slider">
            <input type="text" readonly id="slider-value" value="0 miles">
        {{/if}}
        <input id="filter-button" type="submit" value="Apply Filter">
        <button id="reset-button"><a href="/studio_listings_buyer">Reset Filter</a></button>
    </form>
</div>

{{#if studios}}
<div class="card-columns">
    {{#each studios}}
        <div class="card">
            <img class="card-img-top cover-picture" src="/uploads/studios/{{ this.coverPicture }}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-text">{{ this.name }}</h3>
                <h5 class="card-text">{{ this.address }} {{ this.zip }}</h5>
                <h5 class="card-text">${{ this.rentalPrice }} per day</h5>
                <p class="card-text">{{ this.description }}</p>
                <button id="rent"><a href="/studio_detail/buyer/{{ this._id }}">Rent</a></button>
            </div>
        </div>
    {{/each}}
</div>
{{else}}
    <p class="title">Unfortunately, we could not find any Studios.</p>
{{/if}}
