<div class="background">
    <div class="image-carousel">
        {{#each studio.pictures}}
            <img class="studio-picture" src="/uploads/studios/{{ this }}">
        {{/each}}
    </div>
    <p> <strong>Name</strong>: {{ studio.name }}</p>
    <p> <strong>Location</strong>: {{ studio.address }}</p>
    <p> <strong>Rental Price</strong>: ${{ studio.rentalPrice }} per Day</p>
    <p> <strong>Studio Description</strong>: {{ studio.description }} </p>
    {{#if buyer}}
    <input id="listing-date-range"> <br>

    <!-- Lead back to the listings page, and add to the corresponding shopping cart. -->
    <button><a href="/add_studio_to_cart?id={{ studio._id }}">Rent Studio</a></button>
    {{/if}}
</div>
